<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><%= link_to t("views.carts.index.home"), root_path %></li>
        <li class="active"><%= t "views.carts.index.item" %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
  <div class="container">
    <div class="single-main header-mobile-info">
      <div class="col-md-9 single-main-left">
      <div class="sngl-top">
        <div class="col-md-5 single-top-left">
          <div class="flexslider">
              <ul class="slides">
                <%= render partial: "slide", collection: @mobile.images %>
              </ul>
          </div>
          <!-- FlexSlider -->
        </div>
        <div class="col-md-7 single-top-right">
          <div class="single-para simpleCart_shelfItem">
          <h2><%= @mobile.name %></h2>
            <div class="star-on">
              <ul class="star-footer">
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
                <li><a href="#"><i> </i></a></li>
              </ul>
              <div class="review">
                <a href="#"> 1 customer review </a>
              </div>
              <div class="clearfix"></div>
            </div>
            
            <h5 class="item_price"><span id="mobile-price-<%= @mobile.id %>">
              <%= number_with_delimiter @mobile.price, delimiter: "," %></span>&nbspVND</span>
            </h5>
            <p><%= @mobile.description %></p>
            <div class="available">
              <ul>
                <li><label><%= t "views.carts.index.color" %></label>
                  <%= select_tag "show-color", options_from_collection_for_select(@mobile.colors, "id", "color", "0"), {class: "form-control"} %>
                </li>
              <div class="clearfix"> </div>
            </ul>
          </div>
            <label><%= t "views.mobiles.show.quantity" %></label>
            <input id=<%= @mobile.id %> class="quantity order-quantity-<%= @mobile.id %> form-control" type="number" min="1" style="width: 150px" value="1"></span>
            <a class="add-cart item_add"  id="<%= @mobile.id %>" onclick= "add_to_cart(this)"><%= t "views.mobiles.show.add_to_cart" %></a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-3 single-right">
          <div class="w_sidebar">
            <section  class="sky-form">
              <h4><%= t"views.mobiles.show.check_exit_mobile" %></h4>
                <div class="col col-4">
                  <%= form_for @shop, remote: true do |f| %>
                    <%= f.hidden_field :mobile_id, value: @mobile.id %>
                    <%= f.label t("views.mobiles.show.city") %><br/>
                    <%= f.collection_select :city_id, City.order(:name), :id, :name, {include_blank: true},{class: "form-control"} %><br/>
                    <%= f.label t("views.mobiles.show.district")  %><br/>
                    <%= f.grouped_collection_select :district_id, City.order(:name), :districts, :name, :id, :name, {include_blank: true}, {class: "form-control"} %><br/>
                    <%= f.submit t("views.mobiles.show.check"), class: "btn btn-primary form-control" %>
                  <% end %>  
                </div>
                <ul class="col col-4 show-check-mobile"></ul>
            </section>
            <section  class="sky-form">
              <h4>Brand</h4>
              <div class="row1 row2 scroll-pane">
                <div class="col col-4">
                  <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>kurtas</label>
                </div>
                <div class="col col-4">
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sonata</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Titan</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Casio</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Omax</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox" ><i></i>shree</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fastrack</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Sports</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Fossil</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Maxima</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Yepme</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Citizen</label>
                  <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>Diesel</label>
                </div>
              </div>
            </section>
          </div>
        </div>
    <div class="clearfix"> </div>
  </div>
    <div class="single-main">
      <div class="col-md-9 single-main-left">
        <div class="tabs">
        <%= raw @mobile.review %>
        <div class="comment-session">
          <h1><%= t "views.mobiles.show.comment" %></h1>
          <%= render "comment_form" %>
          <div class="comment-content">
            <div class= "comment">
              <%= comments_tree_for(@comments) %>
            </div>
            <p class="pagination">
              <%= link_to_next_page(@comments, t("views.mobiles.show.more_comment"), :remote => true) %>
            </p>
          </div>
        </div>
      </div>
      </div>
      <div class="col-md-3 single-right specifications">
        <div id="tabs">
          <h3><%= t "views.mobiles.show.specifications" %></h3>
          <table class="table">
            <tr>
              <td><%= t "views.mobiles.show.resolution" %></td>
              <td><%= @mobile.resolution %>&nbspPixels</td>
            </tr>
            <tr>
              <td><%= t "views.mobiles.show.size" %></td>
              <td><%= t "views.mobiles.show.height" %>:&nbsp<%= @mobile.height %>mm -
              <%= t "views.mobiles.show.weight" %>:&nbsp<%= @mobile.width %>mm</td>
            </tr>
            <tr>
              <td><%= t "views.mobiles.show.front_camera" %></td>
              <td><%= @mobile.front_camera %>&nbspMP</td>
            </tr>
            <tr>
              <td><%= t "views.mobiles.show.behind_camera" %></td>
              <td><%= @mobile.behind_camera %>&nbspMP</td>
            </tr>
            <tr>
              <td><%= t "views.mobiles.show.ram" %></td>
              <td><%= @mobile.ram %></td>
            </tr>
            <tr>
              <td><%= t "views.mobiles.show.battery" %></td>
              <td><%= @mobile.battery %>&nbspmAh</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="latestproducts">
        <div class="product-one">
          <div class="col-md-4 product-left p-left">
            <div class="product-main simpleCart_shelfItem">
              <a href="single.html" class="mask">
                <%= image_tag "p-1.jpg", class: "img-responsive zoom-img" %>
                <!--<img class="img-responsive zoom-img" src="images/p-1.png" alt="" />-->
              </a>
              <div class="product-bottom">
                <h3>Smart Watches</h3>
                <p>Explore Now</p>
                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
              </div>
              <div class="srch">
                <span>-50%</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 product-left p-left">
            <div class="product-main simpleCart_shelfItem">
              <a href="single.html" class="mask">
                <%= image_tag "p-1.jpg", class: "img-responsive zoom-img" %>
              </a>
              <div class="product-bottom">
                <h3>Smart Watches</h3>
                <p>Explore Now</p>
                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
              </div>
              <div class="srch">
                <span>-50%</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 product-left p-left">
            <div class="product-main simpleCart_shelfItem">
              <a href="single.html" class="mask">
                <%= image_tag "p-1.jpg", class: "img-responsive zoom-img" %>
              </a>
              <div class="product-bottom">
                <h3>Smart Watches</h3>
                <p>Explore Now</p>
                <h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">$ 329</span></h4>
              </div>
              <div class="srch">
                <span>-50%</span>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
</div>
<div class="form-group well" id="form_nested_comment" >
  <%= form_for @comment, remote: true do |f| %>
    <%= f.hidden_field :mobile_id, value: params[:id] %>
    <%= f.hidden_field :parent_id %>
    <%= f.text_area :content, class: "form-control", placeholder: t("views.mobiles.show.comment_here") %><br/>
    <div class="submit-comment">
      <%= f.submit t("views.mobiles.show.submit"), class: "btn btn-primary submit-comment-form" %>
    </div>
  <% end %>
</div>
