<div id="comment-<%= comment.id %>">
  <div class="comment-section well">
    <div class= "row">
      <div class="user-review">
        <div class="comment-info">
          <p><%= comment.content %></p>
        </div>
        <div class ="user-info">
          <%= avatar_for comment.user, size: 24 %>
          <b><%= comment.user.email %></b> 
          <i>&nbsp-&nbsp<%= time_ago_in_words(comment.updated_at) %>&nbsp
            <%= t "views.comments.comment.ago" %></i>
          <%= link_to t("views.comments.comment.reply"), "#", 
            onclick: "nested_comment(this, event)", class: "reply pull-right",
            id: comment.id %>
        </div>
      </div>
      
      <% if current_user %>
        <%# if current_user == comment.user || current_user.admin? %>
          <a onclick = "delete_comment(this)" id=<%= comment.id %>>
            <span class= "delete_comment" data-mobile_id="<%= comment.mobile_id%>">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
          </a>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>
