<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><%= link_to t("views.header.home"), root_path %></li>
        <li class="active"><%= t('.resend_unlock_instructions') %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<div class="account">
  <div class="container">
  <div class="account-top heading">
      <h2><%= t('.resend_unlock_instructions') %></h2>
    </div>
    <div class="account-main">
      <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="col-md-6 account-left">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="address">
            <%= f.submit t('.resend_unlock_instructions') %>
          </div>
        </div>
        <div class="col-md-6 account-left">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
