<!--banner-starts-->
<div class="bnr" id="home">
  <div  id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
      <% @advertisements.each do |ads| %>
        <li>
          <%= link_to image_tag(ads.image, onclick: "adsClick(#{ads.id})"), ads.maker %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>

<div class="about">
  <div class="container">
    <h3><%= t("views.home.hot_mobile") if @hot_mobiles.present? %></h3>
    <div class="about-top grid-1">
      <% @hot_mobiles.each do |hot_mobile| %>
        <div class="col-md-4 about-left">
          <figure class="effect-bubba">
            <%= image_tag hot_mobile.hot_mobile, class: "img-responsive" %>
            <figcaption>
              <h2><%= hot_mobile.name %></h2>
              <p><%= hot_mobile.description[0..40] %></p>
            </figcaption>
          </figure>
        </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!--about-end-->
<!--product-starts-->
<div class="product">
  <div class="container">
    <div class="product-top">
      <div class="product-one">
        <%= render partial: "shared/mobile", collection: @mobiles %>
      </div>
    </div>
  </div>
</div>
<% if @cart.present? %>
  <%= render partial: "shared/cart", locals: {cart: @cart}%>
<% end %>
