<!--start-breadcrumbs-->
<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><%= link_to t("views.header.home"), root_path %></li>
        <li class="active"><%= t('.sign_in') %></li>
      </ol>
    </div>
  </div>
</div>
<!--end-breadcrumbs-->
<!--account-starts-->
<div class="account">
  <div class="container">
  <div class="account-top heading">
      <h2><%= t('.sign_in') %></h2>
    </div>
    <div class="account-main">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="col-md-6 account-left">
          <div class="account-bottom">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="address">
              <%= f.submit t('.sign_in') %>
            </div>
          </div>
        </div>

        <div class="col-md-6 account-left">
          <%= render "devise/shared/links" %>
        </div>
        <div class="clearfix"></div>
      <% end %>
    </div>
  </div>
</div>
<!--account-end-->