<div class="bnr" id="home">
  <div  id="top" class="callbacks_container">
    <ul class="rslides" id="slider4">
      <% @advertisements.each do |ads| %>
        <li>
          <%= image_tag ads.image %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="clearfix"> </div>
</div>

<br></br><br></br>

<div class="breadcrumbs">
  <div class="container">
    <div class="breadcrumbs-main">
      <ol class="breadcrumb">
        <li><%= link_to t("views.header.home"), root_path %></li>
        <li class="active"><%= @maker.name %></li>
      </ol>
    </div>
  </div>
</div>

<div class="product">
  <div class="container">
    <h4><%= t "views.search.amount", amount: @amount %></h4>
    <%= paginate(@mobiles, remote: true) if @mobiles.present? %>
    <div class="product-top">
      <div class="product-one">
        <% if @mobiles.present? %>
          <%= render partial: "shared/mobile", collection: @mobiles %>
        <% end %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<% if @cart.present? %>
  <%= render partial: "shared/cart", locals: {cart: @cart}%>
<% end %>
