<div class="header-bottom">
  <div class="container">
    <div class="header">
      <div class="row">
        <div class="col-md-9 header-left">
          <div class="top-nav">
            <div class="col-md-12">
              <ul class="memenu skyblue">
                <%= link_to image_tag("logo.png"), root_path, class: "header-logo" %>
                <li class="grid"><%= render "layouts/price_search" %></li>
                <li class="grid"><%= render "layouts/ram_search" %></li>
                <li class="grid"><%= render "layouts/maker_search" %></li>
                <% if user_signed_in? %>
                  <li><%= link_to t("views.header.edit"), edit_user_registration_path %></li>
                  <li><%= link_to t("views.header.sign_out"), destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to t("views.header.sign_in"), new_user_session_path %></li>
                  <li><%= link_to t("views.header.sign_up"), new_user_registration_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-3 header-right">
          <div class="search-bar" data-toggle="popover" data-placement="bottom">
            <%= form_tag mobiles_path, method: :get, autocomplete: :off do %>
              <%= text_field_tag "search", params[:search], placeholder: "Search..." %>
              <%= submit_tag value="" %>
            <% end %>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>


<%= render "layouts/mobile_search_list" %>
