<a href="#"><%= t "views.search.price.price" %></a>
<div class="mepanel">
  <div class="row">
    <div class="col1 me-one">
      <h4><%= t "views.search.price.cheap" %></h4>
      <ul>
        <li><%= link_to t("views.search.price.below_1_million"), mobiles_path(min: 0, max: 1000000) %></li>
        <li><%= link_to t("views.search.price.from_to", min: 1, max: 2), mobiles_path(min: 1000000, max: 2000000) %></li>
        <li><%= link_to t("views.search.price.from_to", min: 2, max: 3), mobiles_path(min: 2000000, max: 3000000) %></li>
      </ul>
    </div>
    <div class="col1 me-one">
      <h4><%= t "views.search.price.normal" %></h4>
      <ul>
        <li><%= link_to t("views.search.price.from_to", min: 3, max: 4), mobiles_path(min: 3000000, max: 4000000) %></li>
        <li><%= link_to t("views.search.price.from_to", min: 4, max: 5), mobiles_path(min: 4000000, max: 5000000) %></li>
        <li><%= link_to t("views.search.price.from_to", min: 5, max: 6), mobiles_path(min: 5000000, max: 6000000) %></li>
      </ul>
    </div>
    <div class="col1 me-one">
      <h4><%= t "views.search.price.high_level" %></h4>
      <ul>
        <li><%= link_to t("views.search.price.from_to", min: 3, max: 4), mobiles_path(min: 6000000, max: 7000000) %></li>
        <li><%= link_to t("views.search.price.from_to", min: 4, max: 5), mobiles_path(min: 7000000, max: 8000000) %></li>
        <li><%= link_to t("views.search.price.from_to", min: 5, max: 6), mobiles_path(min: 8000000, max: 9000000) %></li>
        <li><%= link_to t("views.search.price.over_9_million"), mobiles_path(min: 9000000, max: 10000000) %></li>
      </ul>
    </div>
  </div>
</div>
