<!DOCTYPE html>
<html>
  <head>
    <title>MobileWorld</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= include_gon(init: true) %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
  </head>
  <body>
    <%= render "layouts/header"%>
    <div class="container">
      <% if flash %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= flash_class message_type %>">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><%= message %></strong>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <%= render "layouts/footer"%>
    <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top"
      role="button" data-toggle="tooltip" data-placement="left">
      <i class="fa fa-angle-double-up fa-1x"></i>
    </a>
  </body>
</html>
