<!DOCTYPE html>
<html>
  <head>
    <title>MobileWorld</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= favicon_link_tag "favicon.ico" %>
  </head>

  <body>
    <%= render "layouts/header"%>
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
